@charset "utf-8";
/* CSS Document */
* {
	border:none;
	margin:0;
	padding:0;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
html {
}
body {
	background:none;
}
strong {
	font-size:inherit;
	font-weight:bolder;
}
em {
	font-size:inherit;
	font-style:italic;
}
a:link, a:visited, a:hover, a:active {
	color:#af292e;
	font-size:inherit;
	font-weight:bold;
}
a:hover {
	text-decoration:underline;
}
#Page, #Header, #Footer, #Navbar {
	width:1000px;
}
#Page {
	margin-left:auto;
	margin-right:auto;
}
#Header {
	height:100px;
}
.leftLogo {
	float:left;
	width:500px;
	height:90px;
}
.midLogo {
	float: left;
	margin: 52px 0 0 150px;
	width: 175px;
}
.rightLogo {
	float: right;
	height: 90px;
	padding-top: 10px;
	text-align: right;
	width: 400px;
}
.rightLogo h4 {
	color:#9d0a0e;
	font-size:24px;
	font-weight:bold;
	margin:8px 40px 0;
	vertical-align:middle;
}
.rightLogo img {
	float:right;
}
.greet {
	color:#af292e;
	font-weight:bold;
	font-size:14px;
}
.account {
	margin-left:120px;
	margin-right:10px;
}
.account ul {
	list-style:none;
	margin-top:5px;
}
.account ul li {
	display:inline;
	color:#999;
	font-weight:bold;
	font-size:14px;
}
li.cart {
	background-image:url('/images/cart.png');
	background-repeat:no-repeat;
	border:none;
	padding-left:18px;
}
#Navbar {
	background-image:url('/images/ddm1_bg.png');
	background-repeat:no-repeat;
	background-position:top center;
	display:block;
	height:62px;
}
.main-nav {
	float:left;
	width:1000px;
}
/* Drop Down Menu CSS is located in style.ddm.css */
#searchwrapper {
	float:right;
	height:62px;
	margin:-2px 9px 0 0;
	width:200px;
}
.searchFrame {
	border:1px solid #ccc;
    display:block;
	float:left;
    height:22px;
    position:relative;
    width:177px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
}
.div_pipe {
}
input.searchBox {
	border: 0 none;
	display: inline;
	margin-right: 28px;
	margin-top: 3px;
	width: 145px;
}
input.searchBox_submit {
    display: inline;
    float: right;
    padding: 0;
    position: absolute;
    right: 4px;
}
#contact, #chat {
    color:#999999;
    float:right;
    width:140px;
}

#chat {
	margin:8px 0 8px 5px;
}
#chat img {
	float:left;
}
#chat h4 {
	font-size:14px;
	font-weight:bold;
}
#chat span {
	clear:both;
	text-transform:uppercase;
	font-weight:bold;
	word-break:break-all;
}
#contact h4 {
	font-size:18px;
	font-weight:bold;
	margin:12px;
	text-align:center;
	vertical-align:middle;
}
#Content, #List {
	margin-top:15px;
	width:1000px;
}

.col1 {
	float:left;
	width:800px;
}
.col2 {
	float:right;
	width:176px;
}
.offers {
	padding-bottom:20px;
}
.textoffer_top {
	background-image:url(/images/ce_services_top.png);
	background-repeat:no-repeat;
	height:38px;
	width:176px;
}
.textoffer {
	border-left:2px solid #a6a6a6;
	border-right:2px solid #a6a6a6;
	padding:10px;
}
.offer_text {
	border-bottom:1px solid #bcbcbc;
	padding:10px;
	text-align:center;
}
.offer_text p {
	font-weight:bold;
	padding-bottom:10px;
}
.textoffer_bot {
	background-image:url(/images/ce_services_bottom.png);
	background-repeat:no-repeat;
	height:26px;
	width:176px;
}

/*ROATOR*/
#main-slide {
	clear:both;
	height:376px;
	padding-bottom:10px;
	padding-top:0;
	width:800px;
}
.wt-rotator {
	border:0 none;
	clear:both;
	display:block;
	height:376px;
	margin-bottom:10px;
	position:relative;
	width:800px;
}
.wt-rotator a{
	outline:none;
}
.main-img{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	border:0px;
}
.preloader{
	background:#000 url(/images/loader.gif) no-repeat center;
	float:left;
	width:32px;
	height:32px;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	display:none;
}
#timer{
	position:absolute;
	top:0;
	left:0;
	height:4px;
	background-color:#E9E9E9;
	z-index:4;
	visibility:hidden;
}
.desc{
	color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:6;
	overflow:hidden;
	visibility:hidden;
	text-align:left;
}
.wt-rotator .inner-text{
	position:absolute;
	padding:10px;
	z-index:1;
}
.wt-rotator .inner-bg{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#FFF;
	filter:alpha(opacity=75);
	opacity:0.75;
	z-index:0;
}
.c-panel{
	position:relative;
	float:left;
	clear:both;
	top:0;
	left:0;
	z-index:5;
	width:auto;	
	height:auto;
	margin:0;
	padding:3px 3px 1px 3px;
	margin-right:4px;
	text-align:center;
	background-color:#FFF;
	border:1px solid #CCC;	
	cursor:pointer;
	font-weight:bold;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
/*.thumbnails,*/
.buttons {
	float:left;
}
.thumbnails {
	float:right;
	width:auto;
}
.thumbnails ul {
	list-style:none;
	margin:0;
	padding:0;
}
.thumbnails li {
	list-style:none;
	display:block;
	float:left;
	margin-right:4px;
	overflow:hidden;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#7d7d7c;
	background-color:#000;
	cursor:pointer;
	font-weight:bold;
}
.thumbnails li.thumb-over{
 	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	background-color:#CCC;
	filter:alpha(opacity=100);
	opacity:1;
}
.thumbnails li.curr-thumb{
	color:#FFF;
	border:0px solid #111;
	padding-top:0;
	background-color:#cc0000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	filter:alpha(opacity=100);
	opacity:1;
}
.thumbnails li *{
	display:none;
}
.thumbnails li {
	list-style:none;
	font-size:10px;
	display:inline-block;
	clear:none;
	margin-right:4px;
	padding:0 0 1px 0;
	overflow:hidden;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	background-color:#FFF;
	cursor:pointer;
	font-weight:bold;
	filter:alpha(opacity=70);
	opacity:0.7;
}
.play-btn,
.prev-btn,
.next-btn {
	display:block;
	float:left;
	clear:none;
	margin-right:4px;
	width:24px;
	height:24px;
	cursor:pointer;
	padding:0 0 1px 0;
}
.play-btn{
	background:url(/images/play.png) no-repeat center;
}
.pause{
	background:url(/images/pause.png) no-repeat center;
}
.prev-btn{
	background:url(/images/prev.png) no-repeat center;
}
.next-btn{
	background:url(/images/next.png) no-repeat center;
}
.button-over{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	background-color:#CCC;
	filter:alpha(opacity=100);
	opacity:1;
}
#tool-tip{
	color:#FFF;
	background:none;
	padding:4px;
	position:absolute;
	top:0;
	left:0;
	max-width:300px;
	z-index:9999;
	display:none;
}
.block,.vpiece,.hpiece{
	position:absolute;
	z-index:2;
}
.blockimg {
	display:block;
}
.categories {
	float:left;
	height:auto;
	width:300px;
}
.categories h2, .products h2 {
	color:#af292e;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	padding:0 0 12px;
}
h2.ctrail span {
	position:relative;
	top:1px;
	vertical-align:top;
}
.categories h4, .products h4 {
	color:#af292e;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	padding:0 0 12px 10px;
}
.products h5 {
	border-bottom: 1px solid #CCCCCC;
	color: #AF292E;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0 0 5px;
	display:block;
}
.p_thumb {
	height:75px;
	width:75px;
	margin:0 25px;
}
.p_thumb_qv {
	float:left;
	height:75px;
	width:75px;
	margin:0;
}
.products table {
	width:100%;
	padding:5px;
}
.products th {
	color:#999;
	background-color:#ebebeb;
	font-weight:bold;
	vertical-align:top;
	padding:5px;
}
.products table.full_cart th {
	color:#999;
	background-color:#ebebeb;
	font-weight:bold;
	vertical-align:top;
	padding:5px;
}
.products table.quick_cart th {
	color:#000;
	background-color:#fff;
	font-weight:bold;
	vertical-align:top;
	padding:5px;
}
.products table.quick_cart td p, .products table.quick_cart td.p_tot div {
	font-weight:bold;
	text-align:left;
}
.products table.quick_cart td.p_tot div {
	text-align:right;
}
.products table.full_cart td.p_tot div {
	text-align:right;
}
.products td {
	padding:3px;
	text-align:left;
	vertical-align:text-top;
}
.products td.c_qty {
	text-align:right;
} 
.products table.full_cart td p {
	font-weight:bold;
	text-align:left;
}
.products td h3 {
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding:10px;
}
.products th.thm {
	width:100px;
}
.products tr.shade {
	background-color:#ebebeb;
}
.products tr.noshade {
	background-color:#fff;
}
a.close_filter {
	color: inherit;
}
.prod_filter {
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-left: 8px;
	margin-bottom: 20px;
    padding: 20px;
    text-transform: none;
    width: 740px;
}
.prod_filter h3 {
	color:#9e9e9e;
	font-weight:bold;
	margin-left:10px;
	text-transform:uppercase;
}
.prod_filter td {
	padding:5px;
	width:20%;
}
.prod_type {
	float: left;
	margin: 7px;
	width: 250px;
}
.prod_type h3 {
	margin:12px;
	text-align:center;
}
.prod_type h3 a {
	font-size: 16px;
}
.detail {
	width:800px;
}
.prod {
	float:left;
}
.prod_detail {
	float:left;
    padding:0 10px 0 20px;
    width:470px;
}
.pimage {
	width:270px;
	margin:0 20px 0 0;	
}
.pimage h5.enlarge {
	text-align:center;
}
.description {
	color:#646363;
	width:465px;
	margin-bottom:10px;
}
.description h2, .specialoffer h3 {
	border-bottom:1px solid #999;
	color:#af292e;
	font-weight:bold;
	font-size:22px;
	margin-bottom:10px;
	padding-bottom:5px;
	text-transform:uppercase;
}
.description h3 {
	border-bottom:1px solid #999;
	color:#797878;
	font-weight:bold;
	font-size:18px;
	margin:10px 0;
	padding-bottom:5px;
	text-transform:uppercase;
}
.description p, .specialoffer p {
	font-size:16px;
	margin-bottom:20px;
}
.pacart {
	width:215px;
	margin:0 0 0 20px;
}
.price {
	font-size:16px;
	font-weight:bold;
}
.price p {
	border-bottom:1px solid #666;
	font-size:inherit;
	font-weight:inherit;
}
.price span {
	color:#af292e;
	font-weight:inherit;
	font-size:inherit;
}
.stock {
	text-transform:uppercase;
	font-weight:bold;
	color:#00cc33;
}
.cart_wide {
	height:114px;
	width:490px;
	margin:10px;
}
.cart {
	border:1px solid #999;
	height:170px;
	width:215px;
}
td.checkout {
	padding:10px 0;
	text-align:right;
}
table.shipto td {
	padding:5px;
}
.action {
	margin:15px 0;
	width:470px;
}
.action div {
	padding-bottom:0px;
}
.action div.checkbox {
	float:left;
	width:60%;
}
.action div.checkbox label {
	color:#af292e;
	font-size:18px;
	font-weight:bold;
	margin-left:5px;
	text-transform:uppercase;
}
.action div.price {
	float:right;
	width:40%;
}
.action div.prod_price {
}
.action div.prod_type {
	float:left;
	/*font-weight:bold;*/
	font-size:14px;
	/*text-transform:uppercase;*/
	margin-left:0px;
	width:auto;
}
.action div.prod_elip {
	border-bottom: 5px dotted #666666;
	float:left;
	height:2px;
	margin:0 5px;
	min-width: 100px;
}
.action div.prod_action {
	float:right;
	margin-top:10px;
	text-align:center;
	width:auto;
}
.action div.prod_action a {
	font-size: 14px;
}
.action div.prod_action a span {
	font-size:9px;
}
span.tooltip {
	cursor: help;
	padding: 0 4px;
}
div.tooltip {
	background-color:#fff;
	border:2px solid #ccc;
	border-radius:5px;  
	-moz-border-radius:5px;  
	-webkit-border-radius:5px; 
	display:none;
	height: 142px;
	padding: 20px;
	position: absolute;
	/*right: 672px;
	top: 195px;*/
	text-transform:none;
	width: 430px;
	z-index: 9999;
}
span.tooltip:hover div.tooltip {
	display:block;
}
.tooltip h5 {
	border-bottom: 1px solid #999999;
	color: #AF292E;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0 0 5px;
	text-transform: uppercase;
}
.tooltip p {
}
.addcart {
	display:block;
}
input.addtocart {
	display:inline;
	width:113px;
	height:25px;
	padding-top:15px;
}
select.select_qty {
	border:1px solid #666;
	display:inline;
	height:20px;
	font-weight:bold;
}
.wishlist {
	background-color:#ebebeb;
	border:1px solid #999;
	font-weight:bold;
	margin-top:10px;
	padding:5px;
	text-align:center;
	text-transform:uppercase;
}
.wishlist a {
	color:#999;
}
.component {
	margin-top:30px;
	width:100%;
}
.component h3 {
	border-bottom:1px solid #999;
	color:#af292e;
	font-weight:bold;
	font-size:14px;
	padding-bottom:5px;
	text-transform:uppercase;
}
/*.specialoffer h3 {
	color:#af292e;
	font-weight:bold;
	font-size:14px;
	padding-bottom:10px;
	text-transform:uppercase;
}
.specialoffer p {
	color:#af292e;
	font-weight:normal;
	font-size:14px;
	padding-bottom:5px;
}*/
.manufacturers {
    border:1px solid #CCCCCC;
    float:left;
	height:270px;
    margin:15px 5px;
    padding:15px 6px;
    width:135px;
}
.manufacturers ul {
    list-style:none outside none;
    margin-left:10px;
    padding:10px 5px;
}
.manufacturers ul li {
    padding-bottom:8px;
}
.accessories {
	float:left;
	margin-top:10px;
	padding-right:10px;
	width:17.8%;
}
.accessories img {
	margin-left:25px;
	margin-bottom:10px;
	width:75px;
	height:75px;
}
.accessories h4 {
	font-size:12px;
	margin-left:25px;
	margin-bottom:5px;
	color:#999;
	font-weight:bold;
	text-transform:none;
}
/*Cart Style*/
form.sscart td {
	width:15%
}
form.sscart input[type=text] {
	border:1px solid #999;
	margin-left:5px;
	margin-right:5px;
	padding:3px;	
	width:50%;
	text-align:right;
}
form.sscart select {
	border:1px solid #999;
	margin-left:5px;
	margin-right:5px;
	padding:3px;	
	text-align:right;
}
form.sscart select option {
	padding:3px;	
}
form.sscart td.qty input[type=text] {
	border: 2px solid #B7B7B7;
	font-weight: bold;
	left: 25%;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;
	position: relative;
	text-align: right;
	width: 50%;
}
form.sscart td.checkout input[type=image] {
	padding-left:15px;
}
form.sscart input[type=submit] {
	border:1px solid #999;
	margin-left:5px;
	margin-right:5px;
	padding:5px;	
	text-align:right;
}
form.sscart td.qty {
	width:5%;
}
form.sscart td.remp {
	width:5%;
}
.status {
	padding-right:6px;
	text-align:right;
}
.ok {
	color:#009900;
	font-weight:bold;
	position:relative;
	bottom:12px;
}
.error {
	color:#ff0000;
	font-weight:bold;
	margin-left:20px;
}
.error h4 {
	font-weight:bold;
}
.error ul {
	margin-left:30px;
}
.cleartot {
	border-top:1px solid #999;
}
.clearcart {
	float:left;
	padding:10px 0;
}
.subtotal {
	float:right;
	font-weight:bold;
	padding:10px 0;
	text-align:right;
}
span#subprice {
	color:#AF292E;
	font-weight:bold;
}
#NextPrev {
}
td#Prev {
	text-align:left;
}
td#Pages {
	text-align:center;
}
td#Next {
	text-align:right;
}
span.curpage {
	text-decoration:underline;
}
.loading {
	text-align:center;
	width:100%;
}
.itemadded {
	border:1px solid #999;
	background-color:#fff;
}
.itemstyle {
	height: auto !important;
	left: 946px !important;
	position: absolute !important;
	top: 110px !important;
	width: 450px !important;
	z-index: 1003 !important;
}
.close_cart { 
	display:none;
	background-image:url(/images/close_btn.png); 
	background-position:center center; 
	background-repeat:no-repeat; 
	height:22px;
	position:absolute;
	right: 464px;
    top: 108px;
	width:22px;
	z-index:9999;
}
.close_cart span {
	height:22px;
	visibility: hidden;
	width:22px;
}
.shopchoice {
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	text-align:center;
	width:100%;
}
.shopchoice span {
	padding:10px;
}
.clear:after, #Content:after, .categories:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	font-size:0;
}
#Footer {
	display:block;
	height:50px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
}
.copyright {
	color:#999;
	display:block;
	float:left;
	font-weight:bold;
	padding-top:15px;
}
.footerLogo {
	float:right;
	margin:5px 30px 0 0;
}
.footerLogo img {
	float:right;
}
.top_footer {
	border-bottom:1px solid #666;
	padding:10px;
	width:100%;
}
.sm_logo {
	color:#999;
	float:left;
}
.bot_nav {
	float:right;
}
.bot_footer {
	width:100%;
}
.info {
}
.type_desc {
	margin-top:20px;
}
.type_desc h1 {
	color:#af292e;
	font-size:24px;
	font-weight:bold;
}
.info h1.pagetitle {
	color:#af292e;
	font-size:40px;
	font-weight:bold;
	padding-bottom:20px;
	text-align:center;
}
.info h1, .info h2, .info h3, .info h4, .info h5, .info h6 {
	color:#af292e;
	font-size:24px;
	font-weight:bold;
	padding-bottom:8px;
}
.info p {
	font-size:16px;
	line-height:22px;
	margin: 0;
}
.info ul {
	font-size:16px;
	margin:0 30px;
}
.info li {
	font-size:inherit;
	margin:10px 0;
}

.info div.single {
	width: 100%;
}
.info div.double {
	float: left;
	position:absolute;
	width: 280px;
	padding-right:60px;
	z-index: 1;
}
.info div.x2 {
	float: right;
	left: 755px;
	position: inherit;
	width: 462px;
	z-index: -9999;
}
table.shipto th {
	text-align:right;
}
table.shipto th.PayHeader {
	text-align:center;
}
.req:after {
	color:#ff0000;
	content: " * ";
	display: inline;
	font-weight: bold;
}
.ship_repair input, .ship_repair select {
	border:1px solid #999;
}
.ship_repair #sbt_btn {
	border: 1px solid #999999;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 20px;
}
.strike_disc {
	text-decoration:line-through;
}
.discount_amount {
	color:#af292e;
}
.invoice_footer {
	bottom:10px;
	font-size:9px;
	font-weight:bold;
	position:relative;
	text-align:center;
}
.shipinfo {
}
.shipinfo h1 {
	color:#af292e;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
}
.shipinfo h3 {
	color:#af292e;
	font-size:16px;
	font-weight:bold;
}
.shipplug h1, .shipplug h3, .shipplug p {
	margin-bottom:10px;
}
.shipplug ol {
	margin-left:40px;
	padding-bottom:10px;
}
.shipplug li {
	font-weight:bold;
}
.ship_repair {
	border:1px solid #ccc;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	margin:20px 0;
	padding:20px;
}
.ship_repair th {
	font-weight:bold;
	text-align:left;
}
/*########################
##########################
ColorBox*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
	overflow:hidden;
}
#cboxLoadedContent {
	overflow:visible;
}
#cboxLoadedContent iframe {
	display:block;
	width:100%;
	height:100%;
	border:0;
}
#cboxTitle {
	margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer;
}
/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
	background:#fff;
}
#colorBox {
}
#cboxTopLeft {
	width:25px;
	height:25px;
	background:url(/images/border1.png) 0 0 no-repeat;
}
#cboxTopCenter {
	height:25px;
	background:url(/images/border1.png) 0 -50px repeat-x;
}
#cboxTopRight {
	width:25px;
	height:25px;
	background:url(/images/border1.png) -25px 0 no-repeat;
}
#cboxBottomLeft {
	width:25px;
	height:25px;
	background:url(/images/border1.png) 0 -25px no-repeat;
}
#cboxBottomCenter {
	height:25px;
	background:url(/images/border1.png) 0 -75px repeat-x;
}
#cboxBottomRight {
	width:25px;
	height:25px;
	background:url(/images/border1.png) -25px -25px no-repeat;
}
#cboxMiddleLeft {
	width:25px;
	background:url(/images/border2.png) 0 0 repeat-y;
}
#cboxMiddleRight {
	width:25px;
	background:url(/images/border2.png) -25px 0 repeat-y;
}
#cboxContent {
	background:#fff;
	padding:0;
	margin:0;
}
#cboxLoadedContent {
	margin-bottom:20px;
}
#cboxTitle {
	position:absolute;
	bottom:0px;
	left:0;
	text-align:center;
	width:100%;
	color:#999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#cboxCurrent {
	position:absolute;
	bottom:0px;
	left:700px;
	color:#999;
}
#cboxSlideshow {
	position:absolute;
	bottom:0px;
	right:42px;
	color:#444;
}
#cboxPrevious {
	position:absolute;
	bottom:0px;
	left:0;
	color:#999;
}
#cboxNext {
	position:absolute;
	bottom:0px;
	left:43px;
	color:#999;
}
#cboxLoadingOverlay {
	background:url(/images/loading.gif) 5px 5px no-repeat #fff;
}
#cboxClose {
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	color:#999;
}
td.prod_short_desc {
	vertical-align: top;
}
td.manf_part {
	text-align: center;
	vertical-align: top;
}
td.prod_price_list {
	text-align: right;
	vertical-align: top;
}
.plug {
	margin-bottom: 36px;
	width:100%;
}
.plug_border {
	float: left;
    position: relative;
    top: -14px;
    z-index: -111;
}
.left_imgplug {
	display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 105px;
	margin-left:40px;
	margin-right:26px;
}
.left_textplug {
	display: table-row-group;
    float: left;
    margin-right: 10px;
    padding: 3px;
    width: 600px;
}
.right_imgplug {
	display: block;
    float: right;
    overflow: hidden;
    position: relative;
    width: 300px;
	margin-left:0;
	margin-right:0;
	z-index:-9999;
}
.right_textplug {
    display: table-row-group;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    z-index: 0;
}
.vidplug {
	display: block;
    float: left;
    overflow: hidden;
    padding-right: 40px;
    position: relative;
    width: 360px;
	/*z-index:-10;*/
}
.vidplug object {
    float: left;
    overflow: hidden;
    position: relative;
}
.vidplug iframe {
}
div.info div.single div.plug h3 {
	color: #000000;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
}
.homefront h1, .homefront h2, .homefront h3, .homefront h4, .homefront h5, .homefront h6 {
	color:#af292e;
	font-size:16px;
	font-weight:bold;
	padding-bottom:8px;
}
.homefront p {
	font-size:14px;
	line-height:22px;
	margin: 0;
}
.textplug {
	display:block;
	width:100%;
}
.textplug p {
	margin:0 20px 20px 0;
}
.homefront {
	padding: 20px 0 0;
}
.plug:after, 
.right_imgplug:after, 
.right_textplug:after, 
.left_imgplug:after, 
.left_textplug:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
form.sscart input[type=text]#promo_code {
	margin-right:0px;
	border:2px solid #B7B7B7;	
}
/* New Price List - line 681 */
td.prod_list_desc a:link, td.prod_list_desc a:visited, td.prod_list_desc a:hover, td.prod_list_desc a:active{
	color:#3d83a5;	
}
a.add-to-cart {
	background-image: url(/images/red-arrow.png);
    background-position: 100% 30%;
    background-repeat: no-repeat;
    padding-right: 12px;
}
a.send-it-in {
	background-image: url(/images/grey-arrow.png);
    background-position: 100% 30%;
    background-repeat: no-repeat;
    padding-right: 12px;
}
a.add-to-cart-lrg {
	background-image: url(/images/red-arrow-big.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 15px;
}
a.send-it-in-lrg {
	background-image: url(/images/grey-arrow-big.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 15px;
}
th.thp {
	width:245px;	
}
table.price_list_inner, table.price_list_inner th, table.price_list_inner tr, table.price_list_inner td{
	padding:0px;	
	color:#646363;
}
table.price_list_inner td.ta-right {
	text-align:right;	
}
table.price_list_inner td.ta-left {
	text-align:left;	
}
.gray-text, a.send-it-in.gray-text, a.send-it-in-lrg.gray-text {
	color:#646363;	
}
.thin-text {
	font-weight:100;	
}
.pro-btm-marg {
	margin-bottom:0px;
}
.pro-top-marg {
	margin-top:2px;
}
.action div.prod_action.pro-top-marg{
	margin-top:5px;	 
}
.action div.prod_action a span.thin-text {
	font-weight:100;
	font-size:12px;
}
.send-it-in-text {
	color:#af292e;	
	padding-top:10px;
	padding-bottom:10px;
}
a.send-it-in-remove {
	font-size:10px;	
}

/*20161003 HRS Change to 3M logo to use text per Ticket_#77518*/
.small_text_logo_3m{
	text-decoration:none !important;
	font-size:15px !important; 
	color:#000 !important; 
	padding-left:10px !important;
	font-family:Arial!important;
	font-weight:bold;
}

.large_text_logo_3m{
	font-size:35px;
	color:#000;
	font-family:Arial;
	font-weight:bold;
}
/*End Ticket_#77518*/
