@charset "utf-8";
/* CSS Document */

span.ucase {
	text-transform:uppercase;
	clear:both;
	font-weight:bold;
}
li.ddm1, li.ddm1 a, li.ddm2, li.ddm2 a {
	color: #fff;
	font-weight:bold;
}

/*Removes bullets for the lists*/
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style:none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
ul.dropdown {
    float: left;
    position: absolute;
    width: 1000px;
    z-index: 10;
}
ul.dropdown li.ddm1 {
	border-right: 1px solid #FFFFFF;
	clear: right;
	float: left;
	height: 30px;
	padding: 10px 3px;
	position: static;
	text-align: center;
	vertical-align: middle;
	width: 136px;
}
ul.dropdown li.single {
	padding-top: 17px;
}
ul.dropdown li.ddm1 ul.ddm2 {
    background: url("/images/ddm2_bg.png");
	background-repeat:no-repeat;
	background-position:center center;
	border-top:1px solid #fff;
    float: left;
    height: 250px;
    left: 0;
    padding: 0 0 0 8px;
    position: absolute;
    top: 45px;
    visibility: hidden;
    width: 992px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:0 0 8px 8px;
}
ul.dropdown li.ddm1:hover > ul {
    visibility:visible;
}
ul.dropdown li.ddm1 a:hover,ul.dropdown li.ddm2 a:hover, ul.dropdown li.ddm3 a:hover  {
	color:#ffe335;
}
ul.dropdown li.ddm1:hover {
	color:#ffe335;
}
ul.dropdown li.ddm1 ul.ddm2 li h5 {
	border-bottom: 1px solid #fff;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	text-align:left;
}
ul.dropdown li.ddm1 ul.ddm2 li.subhead {
    color: #FFFFFF;
    float: left;
    padding: 20px 15px 0 45px;
    text-align: left;
    width: 200px;
}
ul.dropdown li.ddm1 ul.ddm2 li.subhead2 {
    color: #FFFFFF;
    float: left;
    padding: 10px 15px 0 20px;
    text-align: left;
    width: 205px;
}
ul.dropdown li.ddm1 ul.ddm2 li.subhead3 {
    color: #FFFFFF;
    float: left;
    padding: 10px 15px 0 20px;
    text-align: left;
    width: 700px;
}
ul.dropdown li.ddm1 ul.ddm2 li ul li {
    margin: 10px 0;
}
ul.ddm3 li {
	float:left;
	width:138px;
}
ul.dropdown li.ddm1 ul.ddm2 li.subhead3 ul.ddm3 li ul li {
	margin:2px;
}
li.subhead > a {
	color:#ffe335;
	font-weight:bold;
}
li.manufact > a {
	color:#ffe335;
	font-weight:bold;
}
li.nolight > a {
	color:#ffffff;
	font-weight:bold;
}
ul.dropdown li.ddm1 h4 {
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
ul.dropdown li.ddm1 h4.small {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}
ul.dropdown li.ddm1 h5 {
	font-size:11px;
}