<cfsilent>
	<cfinclude template="./_dat_cart_prep.cfm">
	
	<cfscript>
		if(Len(FORM.Ship_Company) EQ 0) {
			ERR.ErrorFound = true;
			ERR.ErrorMessage = ListAppend(ERR.ErrorMessage, "Please enter your company name");
		}
		if(Len(FORM.Ship_address1) EQ 0) {
			ERR.ErrorFound = true;
			ERR.ErrorMessage = ListAppend(ERR.ErrorMessage, "Please enter your shipping address");
		}
		if(Len(FORM.Ship_city) EQ 0) {
			ERR.ErrorFound = true;
			ERR.ErrorMessage = ListAppend(ERR.ErrorMessage, "Please enter your shipping city");
		}
		if(Len(FORM.Ship_state) EQ 0) {
			ERR.ErrorFound = true;
			ERR.ErrorMessage = ListAppend(ERR.ErrorMessage, "Please enter your shipping state");
		}
		if(Len(FORM.Ship_zip) EQ 0) {
			ERR.ErrorFound = true;
			ERR.ErrorMessage = ListAppend(ERR.ErrorMessage, "Please enter your shipping zip");
		}
	</cfscript>

<cfsavecontent variable="JS_PaymentInfo">
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"4030928"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=4030928&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
<script type="text/javascript">
	$('#usesame').live("click", function() {
		if($('#usesame').attr('checked')){
			$('input[name=address1]').val($('input[name=Ship_address1]').val());
			$('input[name=address2]').val($('input[name=Ship_address2]').val());
			$('input[name=city]').val($('input[name=Ship_city]').val());
			var state = $('input[name=Ship_state]').val();
			$('select[name=state] option[value=' + state + ']').attr('selected','selected');
			$('input[name=zip]').val($('input[name=Ship_zip]').val());
		}
	});
	function SubmittingCart() {
		document.getElementById("ce_cart").submit();
		
		x = showLoad();
		y = hidePay();
		z = jumpLoad();
		
		
	}
	function showLoad() {
		var sub_pay = document.getElementById("payment_loading");
		sub_pay.style.display = 'block';
	}
	function hidePay() {
		var sub_pay = document.getElementById("Payments");
		sub_pay.style.visibility = "hidden";
	}
	function jumpLoad() {
		//var new_jump = $('#Page').offset();
		//window.scrollTo(new_jump.left,new_jump.top);
		window.scrollTo(0,0);
	}
</script>
</cfsavecontent>
<cfhtmlhead text="#JS_PaymentInfo#">
</cfsilent>	

<cfif ERR.ErrorFound>
	<cfif NOT ERR.Billing_Error>
		<cfinclude template="_tmp_cart_cko.cfm">
		<cfexit method="exittemplate">
	</cfif>
</cfif>

<cfsilent>
	<!---Validate Session and insert/create invoice--->
	<cfscript>
		if(ReFindNoCase("[a-z0-9]{32}", URL.suid) NEQ 0) { //Check URL
			get_Session = URL.suid;
		}
		if(ListLen(FORM.suid) GT 0 AND ReFindNoCase("[a-z0-9]{32}", FORM.suid) NEQ 0) { //Check Form
			get_Session = FORM.suid; 
		} 
		if(Len(get_Session) EQ 0) { //Assume no URL or FORM
			get_Session = SESSION.Session_UID;
			manageCart = CreateObject("component", "_cfcs.CartMgmt");
			invCart = manageCart.invSess(Session_UID=SESSION.Session_UID,User_Cookie=qry_getUser.User_Cookie,User_ShipState=FORM.Ship_state); //Validate Product and retrieve record
		}
	</cfscript>
	
	<cfscript>
		QUERY = StructNew();
		QUERY.QueryName = "qry_getInvoice";
		QUERY.Datasource = APPLICATION.Datasource;
		QUERY.Session_UID = get_Session;
		QUERY.SelectSQL = "DISTINCT invc.Invoice_Session_UID, invc.Invoice_User_Cookie, invc.Invoice_Product_UID, invc.Invoice_Manufacturer_Part_Number, invc.Invoice_Product_Description, invc.Invoice_Product_Unit_Price, invc.Invoice_Product_Price, invc.Invoice_Product_Discount, invc.Invoice_Product_Qty, invc.Invoice_UOM, invc.Invoice_UNSPSC, invc.Invoice_Order, invc.Invoice_Created_DTS, invc.Invoice_Product_Price_Type";
		QUERY.OrderBy = "invc.Invoice_Session_UID, invc.Invoice_Order, invc.Invoice_Created_DTS";
	</cfscript>
	
	<cfinclude template="./_qry_select_user_invoice.cfm">
</cfsilent>

<cfoutput>
<div id="payment_loading" class="products clear" style="display:none">
<h2>Submitting Payment Information<br /><strong>Your order may take a few minutes to process, PLEASE DO NOT submit your order again or refresh this page, as this might result in your payment being processed twice.</strong></h2><div class='loading'><img src='/images/loading.gif' /></div>
<!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="##" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
</div>
<div id="Payments" class="products clear">
	<h2>Confirm Order and Submit Payment Information<br /><strong>Your order may take a few minutes to process, PLEASE DO NOT submit your order again or refresh this page, as this might result in your payment being processed twice.</strong></h2>
	<!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="##" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
	<cfif qry_getInvoice.RecordCount NEQ 0>
	<table class="full_cart">
		<cfinclude template="./_tmp_cart_invoice_items.cfm">
	</table>
	<form action="https://#APPLICATION.rootURL#/?pg=Cart&st=Order" id="ce_cart" name="frm_cart" method="post" class="sscart">
		<table class="shipto">
			<cfif ERR.ErrorFound>
			<div class="error">
				<h4>The following errors occured during your request:</h4>
				<ul>
					<cfloop list="#ERR.ErrorMessage#" index="thisError"><li>#thisError#</li></cfloop>
				</ul>
			</div>
			</cfif>
			<tr>
				<th colspan="2" class="PayHeader">Billing Information</th>
			</tr>
			<tr>
				<th class="req">First Name:</th>
				<td><input type="text" size="30" maxlength="50" name="firstName" id="fname" value="#FORM.firstName#" /></td>
			</tr>
			<tr>
				<th class="req">Last Name:</th>
				<td><input type="text" size="30" maxlength="50" name="lastName" value="#FORM.lastName#" /></td>
			</tr>
			<tr>
				<th class="req">Email:</th>
				<td><input type="text" size="30" maxlength="100" name="email" value="#FORM.email#" /></td>
			</tr>
			<tr>
				<th class="req">Phone:</th>
				<td><input type="text" size="30" maxlength="30" name="phone" value="#FORM.phone#" /></td>
			</tr>
			<tr>
				<th class="req">Card Type:</th>
				<td>
					<select name="creditCardType" onChange="javascript:generateCC(); return false;">
						<option value="Visa"<cfif FORM.creditCardType IS "Visa"> selected="selected"</cfif>>Visa</option>
						<option value="MasterCard"<cfif FORM.creditCardType IS "MasterCard"> selected="selected"</cfif>>MasterCard</option>
						<option value="Discover"<cfif FORM.creditCardType IS "Discover"> selected="selected"</cfif>>Discover</option>
						<option value="Amex"<cfif FORM.creditCardType IS "American Express"> selected="selected"</cfif>>American Express</option>
					</select>
				</td>
			</tr>
			<tr>
				<th class="req">Card Number:</th>
				<td><input type="text" size="19" maxlength="19" name="creditCardNumber" value="#FORM.creditCardNumber#" /></td>
			</tr>
			<tr>
			<th class="req">Expiration Date:</th>
			<td>
				<select name="expDateMonth">
					<option value="01"<cfif FORM.expDateMonth IS "01">selected="selected"</cfif>>01</option>
					<option value="02"<cfif FORM.expDateMonth IS "02">selected="selected"</cfif>>02</option>
					<option value="03"<cfif FORM.expDateMonth IS "03">selected="selected"</cfif>>03</option>
					<option value="04"<cfif FORM.expDateMonth IS "04">selected="selected"</cfif>>04</option>
					<option value="05"<cfif FORM.expDateMonth IS "05">selected="selected"</cfif>>05</option>
					<option value="06"<cfif FORM.expDateMonth IS "06">selected="selected"</cfif>>06</option>
					<option value="07"<cfif FORM.expDateMonth IS "07">selected="selected"</cfif>>07</option>
					<option value="08"<cfif FORM.expDateMonth IS "08">selected="selected"</cfif>>08</option>
					<option value="09"<cfif FORM.expDateMonth IS "09">selected="selected"</cfif>>09</option>
					<option value="10"<cfif FORM.expDateMonth IS "10">selected="selected"</cfif>>10</option>
					<option value="11"<cfif FORM.expDateMonth IS "11">selected="selected"</cfif>>11</option>
					<option value="12"<cfif FORM.expDateMonth IS "12">selected="selected"</cfif>>12</option>
				</select>
				<select name="expDateYear"><cfloop from="#Year(Now())#" to="#Evaluate(Year(Now())+10)#" index="y">
					<option value="#y#"<cfif FORM.expDateYear EQ y>selected="selected"</cfif>>#y#</option></cfloop>
				</select>
				</td>
			</tr>
			<tr>
				<th class="req">Card Verification Number:</th>
				<td><input type="text" size="3" maxlength="4" name="cvv2Number" value="#FORM.cvv2Number#" /></td>
			</tr>
			<tr>
				<th colspan="2" class="PayHeader">Billing Address</th>
			</tr>
			<tr>
				<th></th>
				<td><input type="checkbox" name="usesameadd" id="usesame" value="1" />(Same as Shipping Information)</td>
			</tr>
			<tr>
				<th>Address 1:</th>
				<td><input type="text" size="25" maxlength="100" name="address1" value="#FORM.address1#" /></td>
			</tr>
			<tr>
				<th>Address 2:</th>
				<td><input type="text" size="25" maxlength="100" name="address2" value="#FORM.address2#" />(optional)</td>
			</tr>
			<tr>
				<th>City:</th>
				<td><input type="text" size="25" maxlength="40" name="city" value="#FORM.city#" /></td>
			</tr>
			<tr>
				<th>State:</th>
				<td>
					<select name="state"><cfloop list="#VARIABLES.StateList#" index="thisState">
						<option value="#thisState#"<cfif FORM.state IS thisState> selected="selected"</cfif>>#thisState#</option></cfloop>
					</select>
				</td>
			</tr>
			<tr>
				<th>ZIP Code:</th>
				<td><input type="text" size="10" maxlength="10" name="zip" value="#FORM.zip#" />(5 or 9 digits)</td>
			</tr>
			<tr>
				<th>Country:</th>
				<td>United States</td>
			</tr>
			<tr>
				<td>
					<input type="hidden" name="Ship_Company" value="#FORM.Ship_Company#" />
					<input type="hidden" name="Ship_address1" value="#FORM.Ship_address1#" />
					<input type="hidden" name="Ship_address2" value="#FORM.Ship_address2#" />
					<input type="hidden" name="Ship_city" value="#FORM.Ship_city#" />
					<input type="hidden" name="Ship_state" value="#FORM.Ship_state#" />
					<input type="hidden" name="Ship_zip" value="#FORM.Ship_zip#" />
					<input type="hidden" name="amount" value="#DollarFormat(qry_getInvoice.Invoice_Product_Price[qry_getInvoice.RecordCount])#" />
					<input type="hidden" name="PAYMENTACTION" value="sale">
					<input type="image" src="/images/cart_submit.png" onclick="SubmittingCart()" /><sup> | <a href="#APPLICATION.rootURL#/?pg=Search">Continue Shopping</a></sup>
                    
                    <script>
						window.uetq = window.uetq || []; 
						window.uetq.push({ 'ec':'image', 'ea':'Click', 'el':'Submit Button', 'ev':'1' }); 
					</script>
				</td>
				<td></td>
			</tr>
		</table>
	</form>
	<cfelse>
	<table>
		<tr>
			<td><h3>Invoice Not Found</h3></td>
		</tr>
	</table></cfif>
	<div class="clear"></div>
</div>
</cfoutput>