<div id="Content">
	<div class="col1">
		<div class="info">
			<div class="single clear">
				<h1>This site requires that both JavaScript and Cookies are enabled.</h1>
				<p>Please enable these options or try your request from a different browser.</p>
			</div>
		</div>
	</div>
</div>